* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden; /* empêche le scroll sur body */
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  /* lignes automatiques avec hauteur fixe */
  grid-auto-rows: 25px;

  /* espacement réduit entre lignes et colonnes */
  gap: 1px;   /* avant 2px, maintenant 1px */
  padding: 1px;

  overflow: auto; /* scroll si nécessaire */
}

label {
  display: flex;
  align-items: center;
  gap: 3px; /* espace entre checkbox et texte */
  padding: 0 2px;
  border: 1px solid #333;
  font-size: 12px;
  height: 25px; /* hauteur de la ligne */
  cursor: pointer;
  white-space: nowrap;
}


input[type="checkbox"] {
  transform: scale(0.8);
}

.random-selected {
  background: #3cff6a !important;
  border-color: #19a84a;
}

#screamer {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9999;
}

#screamer img {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  opacity: 1;
  transition: opacity 0.8s ease;
}

@keyframes flash {
  0% { transform: scale(0.7); opacity: 0; }
  50% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); }
}

.random-selected {
  background: #3cff6a !important;
  border-color: #19a84a;
}
